@import url('https://fonts.googleapis.com/css2?family=Cabin+Condensed&family=Montserrat&family=Roboto&family=Sirin+Stencil&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;

}

body {
font-family: Cabin Condensed, sans-serif;
font-weight: 400;
color: #979A9A;
background-color: #000000;
}

/* headings and logo */

h1, h2 {
font-family: Montserrat, sans-serif;
text-transform: uppercase;
letter-spacing: 4px;
color: #D5DBDB  ;
}

#my-logo{
float: left;
font-size: 300%;

}

/* navigation */
#navigation{
font-size: 120%;
letter-spacing: 4px;

}

#navigation, #my-logo {

    line-height: 90px;


}

#navigation li {

    float: right;
    list-style-type: none;
    margin-right: 50px;
}
#navigation a{
    text-decoration: none;
    color: inherit;
}

#navigation a:hover {
border-bottom: 4px solid #FDFEFE;

}