@import url('https://fonts.googleapis.com/css2?family=Cabin+Condensed&family=Montserrat&family=Roboto&family=Sirin+Stencil&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;

}

body {
font-family: Cabin Condensed, sans-serif;
font-weight: 400;
color: #979A9A;
}

/* headings and logo */

h1, h2 {
font-family: Montserrat, sans-serif;
text-transform: uppercase;
letter-spacing: 4px;
color: #1B2631 ;
}

#my-logo{
float: left;
font-size: 300%;

}

/* navigation */
#navigation{
font-size: 120%;
letter-spacing: 4px;

}
#navigation li {

    float: right;
    list-style-type: none;
    margin-right: 50px;
}