@import url('https://fonts.googleapis.com/css2?family=Cabin+Condensed&family=Montserrat&family=Roboto&family=Sirin+Stencil&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;

}

body {
font-family: Cabin Condensed, Monserrat;
font-weight: 400;
color: #979A9A;
background-color: #000000;
}

/* headings and logo */

h1, h2 {
font-family: Cabin Condensed, Monserrat;
text-transform: uppercase;
letter-spacing: 4px;
color: #D5DBDB  ;
}

#my-logo{
float: left;
font-size: 300%;
padding-left: 15px;

}

/* navigation */
#navigation{
font-size: 120%;
letter-spacing: 4px;

}

#navigation, #my-logo {

    line-height: 90px;


}

#navigation li {

    float: right;
    list-style-type: none;
    margin-right: 50px;
}
#navigation a{
    text-decoration: none;
    color: inherit;
}

#navigation a:hover {
border-bottom: 4px solid #FDFEFE;

}
 .navbar {
    overflow: hidden;
    position: fixed; 
    top: 0; 
    width: 100%; 
 }


/* Image and motivation*/
#image{
min-height: 100vh;
width: 100%;
background: url('../images/gym2.jpg');
background-size: cover;
background-position: center;
display: flex;
justify-content: flex-start;
align-items: center;
}

.motivation{
max-width: 600px;
}

.motivation h1 {
    padding-left: 200px;
    font-size: 2.1em;
    padding-bottom: 650px;
    color:#979A9A;
    
    
}

/*  About  */
#about{
    padding: 5rem 0;
    margin-bottom: 20px;
    background-image: url(../images/EQ.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    background-attachment: fixed;
    min-height: 60vh;
    
}
#about h2, h3{
text-align: center;
}
#about p{
padding-left: 10px;
font-size: 25px;

}
#about ul{
    padding-left: 30px;
    list-style-type: disc;
    font-size: 20px;
}

/* Join Now  */
#join-now{


}
#join-now h2{

    text-align: center;
}

.join-button{
    margin-top:20px;
    border-radius:2px;
    padding:15px 32px 15px 32px;
    text-align:center;
    font-size:100%;
    background-color:#7B241C;
    color:#979A9A;
    display:block;
}